<link rel="stylesheet" href="/Atividade/views/css/style.css">

</body>
<footer>
    <div class="footer-text">
        <h3>Social Network</h3>
        <p>Powered by us</p>
        <p>&reg; All rights reserved | <a href="#">Contact us</a></p>
    </div>
</footer>
</html>
