<%- include('partials/header') %>


<body class="color-page">
    <div class="container-pricipal" id="topo">
        <section id="new-post">
            <form class="" action="" method="post">
                <h2>New Post</h2><br>
                <p class="titulo">
                    <label for="Title">New Title</label><br>
                    <input type="text" class="" id="Title" placeholder="Title" name="title">
                </p>
                
                <br>
                <p class="text">
                    <label for="Text">Post</label><br>
                    <textarea type="text" class="" id="Text" placeholder="Type your message" name="text" rows="4"></textarea>
                </p>
                
                <br>
                <button type="submit">Add Post</button>
            </form>
        </section>
    </div>
    
</body>





<%- include('partials/footer') %>
