h1, h2{ font-family: Arial;}
h1{
    color: brown;
}

h2{
    color: darkgreen;
}

body{
    background: radial-gradient(red 10px, yellow 30%, #1e90ff 50%);          
}

h2{
    text-align: justify;
}                         